
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>
        404 Not Found
    </h2>
    <div>
        Sorry, an error has occured, Requested page not found!
    </div>
    <div class="text-center py-4">
        <a asp-action="Index" asp-controller="Home" class="btn btn-indigo">Ana Menüye Dön<i class="fa fa-paper-plane-o ml-1"></i></a>
    </div>
</div>