<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Station</title>
    <link href="~/Css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/FormStyle.css" rel="stylesheet" />
</head>
<body>
    
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4 mx-auto">
                    <div class="card near-moon-gradient form-white">
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>