@model SmartTicket
@{
    ViewData["Title"] = "SingInId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="SingInId" asp-controller="SmartTicket">
    <div>
        <input asp-for="Id" type="text" class="form-control btn btn-indigo" placeholder="Lütfen Id'nizi Giriniz">
    </div>
    <div>
        <input asp-for="UniqueCode" type="text" class="form-control btn btn-indigo" placeholder="Benzersiz Kodunuzu Giriniz">
    </div>
    <div class="text-center py-4">
        <button type="submit" class="btn btn-indigo">Giriş Yap<i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>
    <div class="text-center py-4">
        <button asp-action="Index" asp-controller="Home" type="submit" class="btn btn-indigo">Ana Menüye Dön<i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>